/*
	_content.css
*/
.icm{
	vertical-align: middle;
}
.icon{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.img-icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}



small{
	font-size: 85%;
}

.hr-style-1{
	height: 2px;
	width: 100%;
	margin-top: 30px;
	position: relative;
	margin-bottom: 30px;
	background-color: $color-1;
	&:before{
		@extend .clafclear;
		width: 40%;
		top: 50%;
		background-color: $color-1;
		height: 6px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.link-style-1{
	a{
		color: $color-1;
		font-weight: 600;
		text-transform: uppercase;
		text-shadow: 0 0 3px rgba($color-1, 0.5);
	}
}
.fa-star{
	color: #cfcfcf;
	&.fill{
		color: $color-1;
	}
}
.fa-star-o{
	color: #cfcfcf;
	&.fill, &:hover{
		color: $color-1;
	}
}
.fa-paper-plane{
	font-size: 13px;
}
.fa-facebook{
	font-size: 14px;	
}
.fa-vk{
	font-size: 16px;
	padding-bottom: 2px;
}
.p-v-md{
	@media (min-width: 991px){
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.entry-header{
	p{
		line-height: 170%;
		font-size: em(18);
	}
	b{
		font-weight: 900;
	}

	@media (min-width: 992px) {
		h1{
			position: relative;
		}
	}
}
.h1-style-1{
	h1{
		@media (min-width: 992px){
			font-size: em(70);
			padding-left: 115px;
			&:before{
				content: " ";	
				position: absolute;
				width: 99px;
				height: 15px;
				background-image: url('../img/other/h1-style-1.png');
    		left: 0;
    		top: 50%;
    		transform: translateY(-50%);
			}
		}
	}
	&.center{
		h1{
			text-align: center;
			padding-left: 0;
			&:before{
				left: auto;
				transform: translate(-120%, -50%);
			}
			&:after{
				content: " ";	
				position: absolute;
				width: 99px;
				height: 15px;
				background-image: url('../img/other/h1-style-1.png');
    		right: auto;
    		top: 50%;
    		transform: translate(20%, -50%) scaleX(-1);
			}
		}
	}
}
.h2-style-1{
	h2:not(.no-style){
		&:before{
			@extend .clafclear;
			width: 85px;
			height: 2px;
			background-color: $color-1;
			bottom: 0;
			@media (min-width: 992px){
				
			}
			@media (max-width: 991px){
				display: none;
			}
		}
		@media (min-width: 992px){
			padding-bottom: 20px;
		}
	}
	@media (max-width: 991px) {
		h2{
			&:before{
				display: none;
			}
		}
	}
}
.bg-shadow{
	pointer-events: none;
}


figcaption{
	font-weight: 600;
	margin-top: 10px;
	font-size: em(14);
	line-height: 135%;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.bg-statueol{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/bg-statue.jpg');
	background-color: white;
	background-repeat: no-repeat;
	top: -20px;
	//display: none;
	z-index: -1;
	pointer-events: none;
	//animation: bodyanime 900s linear infinite;
	background-position: center -100px;
}
.bg-short-productions{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/bg-short-productions.jpg');
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	//display: none;
	z-index: -1;
	pointer-events: none;
	//animation: bodyanime 900s linear infinite;
}
.bg-about{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/bg-about.jpg');
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	//display: none;
	z-index: -1;
	pointer-events: none;
	//animation: bodyanime 900s linear infinite;
}

.bg-body{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/bg-body.jpg');
	background-color: white;
	background-repeat: repeat-y;
	//display: none;
	z-index: -1;
	pointer-events: none;
	//animation: bodyanime 900s linear infinite;
	background-position: center -100px;
}

.bg-dotswave{
	background-image: url('../img/bg/bg-dotswave.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

.overflow-wrapper{
	overflow: hidden;
	overflow-y: auto;
	position: relative;
}



//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
}



//intro
.intro{
	height: 1080px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/bg/bg-bnr.jpg');
	align-items: center;
	display: flex;
}
.bnr-carousel{
	$slider-height: 70vh;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	.flickity-viewport{
		box-shadow: 0 0 15px -2px rgba(black, 0.5);
	}
	figure{
		overflow: hidden;
		height: $slider-height;
		transition: all 1.8s ease;
		left: 0 !important;
		opacity: 0;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    transform: scale(1.2);
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		&.is-selected{
			z-index: 1;
			opacity: 1;
			.img{
				filter: blur(0);
				transform: scale(1);
			}
		}
	}

	.flickity-slider{
		transform: inherit !important;
	}

	//Навигация
	.flickity-page-dots, .flickity-dots-1 .flickity-page-dots{
		//@extend .container;
		//@extend .trans-h-center;
		//left: auto !important;
		width: auto;
		top: 0;
		left: auto;
		right: 0;
		bottom: auto;
		text-align: center;
		display: flex;
		align-items: center;
		padding: 0 15px;
		margin-bottom: 15px;
		margin-top: 15px;
		text-align: right;
		pointer-events: none;
		*{
			pointer-events: auto;
		}
		li{
			pointer-events: auto;
			background-color: transparent;
			width: 18px;
			height: 18px;
			border: 2px solid $color-1;
			margin-top:  5px;
			margin-bottom: 5px;
    	&.is-selected{
    		background-color: $color-1;
    	}
		}
	}

}


.flex-wrapper{
	display: flex;
	align-items: center;
	height: 100vh;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.bg-wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	.img{
		background-position: center;
		position: absolute;
		background-size: cover;
		height: 100%;
		top: 0;

	}
}
//short-about
.short-about{
	position: relative;

	.bg-about-1{
		left: 0;
	}
	.bg-about-2{
		right: 0;
		z-index: -1;
	}

	.entry-header{
		position: relative;
		.link-content{
			margin-top: 15px;
			margin-bottom: 15px;
			color: $color-1;
			display: inline-block;
			text-transform: uppercase;
			font-weight: 800;
			@media (min-width: 992px){
				position: absolute;
				right: 30px;
				top: 20px;
			}
		}
		@media (min-width: 992px) {
			margin-left: 70px;
			margin-top: 10vh;
		}
	}
}
.link-modal-yt{
	position: absolute;
	right: 0;
	z-index: 1;
	top: 50%;
	transform: translate(50%, -50%);
	a{
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 2px solid $color-1;
		background-color: rgba(white, 0.3);
		display: flex;
		justify-content: center;
		transition: 0.3s;
		align-items: center;
		color: $color-1;
		i{
			font-size: 20px;
		}
		&:hover{
			@extend .shadow-1;
			//color: $color-2;
			background-color: rgba($color-1, 0.1);
			text-shadow: 0 0 5px rgba($color-1, 0.7);
		}
	}
}
.short-advantages{
	margin-top: 30px;
	margin-bottom: 30px;
	@media (min-width: 992px) {
		margin-top: 18vh;
	}
	&:hover{
		.boxes-cell-wrapper{
			transform: translateY(5px);
		}
	}
	.boxes-cell-wrapper{
		padding: 20px 30px;
		position: relative;
		transition: all 0.3s ease;
		background-color: rgba(darken($color-2, 5%), 0.5);
		box-shadow:  0 0 0 0 transparent;
		.align-i-center{
			height: 150px;
		}
		h3{
			margin-top: 0;
		}
		.num{
			position: absolute;
			right: 15px;
			display: inline-block;
			top: 10px;
			font-family: $font-family-2; 
			font-size: em(65);
			line-height: 100%;
			font-weight: 800;
			color: rgba(white, 0.3);
		}
		&:hover{
			transform: translateY(-15px);
			@extend .bgshadow-1;
			background-color: $color-1;
		}
	}
}



.short-news{
	overflow: hidden;
	.entry-header{
		color: $color-gray-5;
		margin-top: 5vh;
	}
	.flex-wrapper{
		align-items: flex-start;
	}
	.bg-wrapper{
		z-index: -1;
	}
}
.short-news-items{
	margin-top: 4vh;
	figure{
		position: relative;
	}

	.date-content{
		padding: 7px 7px;
		display: inline-block;
		z-index: 2;
		@extend .bgshadow-1;
		color: black;
		font-weight: 800;
		position: absolute;
		transform: translate(-10px, 10px);
		top: 0;
		left: 0;
		i, span{
			vertical-align: middle;
			line-height: 100%;
		}
		.icm{
			padding-right: 10px;
		}
	}
	.owl-stage-outer{
		overflow: visible;
	}
	.owl-stage{
		white-space: nowrap;
		display: flex;
		*{
			white-space: normal;
		}
	}
	.owl-item{
		transition: all 0.5s ease;
	}
	.img-content{
		position: relative;
		width: 100%;
		&:before{
			@extend .clafclear;
			background: linear-gradient( to top, $color-2, rgba($color-2, 0.3));
			opacity: 0;
			transition: all 1s ease;
		}
	}
	.img{
		height: 55vh;
		background-size: cover;
	}
	.desc-content{
		position: absolute;
		bottom: 0;
		
		font-size: 0.95em;
		background-color: rgba(black, 0.5);
		padding: 7%;
		h2, h3{
			margin-top: 0;
			text-transform: uppercase;
		}
		p{
			//transition: all 0.3s ease;
    	max-height: 40px;
    	overflow: hidden;
		}
		a{
			color: $color-1;
			font-weight: 800;
			span, i{
				vertical-align: middle;
			}
		}
		p{
			line-height: 130%;
			margin-bottom: 10px;
		}
	}
	.center{
		.img-content{
			width: 75%;
			.img{
				//@extend .shadow-def;
			}
			&:before{
				opacity: 1;
			}
		}
		.desc-content{
			background-color: transparent;
			transform: translate(60px, 10px);
			transition: all 0.5s ease, transform 0.8s ease; 
			p{
				width: 27vw;
				max-height: 300px;
			}
			h3{
				text-shadow: 0px 0px 10px rgba(black, 0.4);
				font-size: 2em;
			}
		}
	}
}


//short-productions
.short-productions{
	 color: white;
	 .container-fluid-page{
	 	@media (min-width: 991px){
	 		padding-left: 120px;
	 		padding-right: 120px;
	 	}
	 }
	.entry-header{
		h1{
			line-height: 100%;
			margin-top: 0;
		}
		@media (min-width: 992px){
			position: absolute;
		}
		.color-1{
			text-transform: uppercase;
			@media (min-width: 992px){
				padding-left: 120px;
			}
		}
	}
	.carousel-article{
		padding-bottom: 0;
		@media (min-width: 992px){
			margin-top: 5vh;
		}
		.carousel-main{
			.carousel-cell{
				perspective-origin: 30% 0;
    		perspective: 540px;
				&.is-selected{
					.desc-content, .img-content, p, h2, .btn-content{
						transform: scale(1);
						opacity: 1;
					}
				}
			}
			.desc-content{
				transition: all 0.6s ease;
				display: flex;
				align-items: center;
				margin-top: 130px;
				height: 33vh;
				p, h2, .btn-content{
					transition: all 0.3s ease;
					transform: translateY(10px);
					opacity: 0;
				}
				h2{
					color: $color-1;
					transition-delay: 0.3s;
				}
				p{
					transition-delay: 0.4s;
				}
				.btn-content{
					transition-delay: 0.55s;
				}

			}
			.img-content{
				transform: scale(0.85);
				opacity: 0;
				transition: all 0.5s ease 0.1s;
			}
			.flickity-viewport{
				border: none;
			}
			.img{
				background-size: cover;
				height: 42vh;
			}
		}
		.flickity-prev-next-button{
			top: 50%;
			transform: translateY(-130%);
			@media (min-width: 991px){
				&.previous{
					left: -60px;
				}
				&.next{
					right: -60px;
				}
			}

		}
		.carousel-nav{
			//width: 75%;
			//margin: auto;
			counter-reset: item-cell;
			.img{
				filter: brightness(60%);
				transition: all 0.3s ease;
			}
			.carousel-cell{
				width: 20%;
				border: none;
				margin-top: 15px;
				margin-bottom: 15px;
				position: relative;

				&:hover{
					.img-content{
						&:before{
							opacity: 1;
						}
					}
				}

				&.is-selected{
					.img{
						filter: brightness(105%);			
					}
					.img-content{
						.img:before, &:after{
							transform: scale(1);
						}
					}
					.desc-content{
						color: $color-1;
						h5{
							&:before{
								transform: scale(1);	
							}
						}
					}
				}
				.img-content{
					counter-increment: item-cell;
					z-index: 1;
					position: relative;
					.img{
						overflow: hidden;
						position: relative;
						&:before{
							position: absolute;
							font-family: $font-family-2;
							z-index: 1;
							left: 10px;
							font-weight: 700;
							line-height: 100%;
							bottom: -25px;
							content: "0" counter(item-cell);
							font-size: 80px;
							color: white;
							opacity: 0.6;
							transform: translateY(100%);
							transition: all 0.3s ease-in-out;
							pointer-events: none;
						}
					}
					&:before{
						@extend .clafclear;
						@extend .trans-center;
						transition: all 0.3s ease;
						display: flex;
						align-items: center;
						justify-content: center;
						content: "+";
						width: 50px;
						z-index: 1;
						opacity: 0;
						height: 50px;
						background-color: rgba($color-2, 0.9);
    				outline: 1px solid $color-1;
    				font-size: 16px;
    				font-weight: 100;
    				color: white;
    				outline-offset: -7px;
					}
					&:after{
						@extend .clafclear;
						transform: scale(0.5);
						transition: all 0.3s ease;
						width: 30%;
						z-index: -1;
						height: 100%;
						background-color: $color-1;
						top: -15px;
						left: -10px;
					}

				}
				.desc-content{

					text-transform: uppercase;
					height: 62px;
					h5, h4{
						padding-left: 20px;
						transition: all 0.3s ease;
						position: relative;
						&:before{
							@extend .clafclear;
							width: 10px;
							height: 10px;
							transition: all 0.4s ease 0.1s;
							left: 0;
							top: 2px;
							background-color: $color-1;
						}
					}
				}
			}
			.img{
				height: 15vh;
				background-size: cover;
			}
		}
	}
}


/* flickity-fade */

.flickity-enabled.is-fade .flickity-slider > * {
  pointer-events: none;
  z-index: 0;
}

.flickity-enabled.is-fade .flickity-slider > .is-selected {
  pointer-events: auto;
  z-index: 1;
}

.parallax-scenes{
	position: absolute;
}


.fullscreen-container {
	width:100%;
	position:relative;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding:0;
	height: 100vh;
	.tparrows{
		display: none;
	}
	.slotholder{
		position: absolute;
	}
	.container-fluid-page{
		height: 100%;
		display: flex;
		align-items: center;
	}
	.tp-caption{
		position: relative !important;
	}
	.col-md-5, .col-md-4{
		//position: relative !important;
	}
	*{
		white-space: normal;
	}
	.entry-header{
		//top: 20vh !important;
		h1{
			color: $color-1;

		}
	}


}
 










//vacancies
.vacancies{
	.entry-header{
		text-align: center;
		p{
			text-transform: uppercase;
			color: $color-1;
		}
	}
	.viewnamefile{
		padding-left: 0;
		background-color: transparent;
		padding-right: 0;
		font-weight: 600;
		transform: none;
		transition: all 0.3s ease;
		&:hover{
			color: $color-1;
		}
	}
	.tab-content{
		@media (min-width: 991px){
			padding-left: 60px;
		}
		.tab-pane{
			color: black;
			padding: 30px 45px;
			position: relative;
			background-color: white;
			&:before{
				@extend .clafclear;
				
				width: 40px;
				height: 40px;
				background-color: white;
				left: -20px;
				transform: matrix(1, 0, 0, 0.5, 0, 0) rotate(45deg);
				top: 10%;
				@media (max-width: 991px){
					display: none;
				}
			}
			@media (min-width: 991px){
				padding-right: 15px;
			}
		}
		.pane-wrapper{
			max-height: 70vh;
			position: relative;
			overflow-y: auto;
		}
	}
}
.vacancies-leftbar{
	li{
		margin: 15px 0;
		&:nth-child(1){
			margin-top: 10px;
		}
		&.active{
			a{
				background-color: $color-1;
				color: white;
				box-shadow: 0 0 20px -2px rgba($color-1, 0.5);
			}
		}
	}
	a{
		transition: all 0.3s ease;
		padding: 15px 20px;
		min-height: 75px;
		border-radius: 5px;
		border: 1px solid $color-gray-1;
		font-weight: 600;
		display: flex;
		align-items: center;
		@media (max-width: 991px) {
			justify-content: center;
		}
	}
}

.date-content{
	background-image: $gradient-1;
	color: white;
	padding: 3px 10px;
	z-index: 1;
	position: absolute;
	top: 15px;
	left: 15px;
	b{
		font-weight: 900;
	}
	big{
		vertical-align: sub;
		font-size: em(24);
	}

}





