/*
	_content.css
*/
.icm{
	vertical-align: middle;
}
.icon{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.img-icon{
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
}



small{
	font-size: 85%;
}

.hr-style-1{
	height: 2px;
	width: 100%;
	margin-top: 30px;
	position: relative;
	margin-bottom: 30px;
	background-color: $color-1;
	&:before{
		@extend .clafclear;
		width: 40%;
		top: 50%;
		background-color: $color-1;
		height: 6px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.link-style-1{
	a{
		color: $color-1;
		font-weight: 600;
		text-transform: uppercase;
		text-shadow: 0 0 3px rgba($color-1, 0.5);
	}
}
.fa-star{
	color: #cfcfcf;
	&.fill{
		color: $color-1;
	}
}
.fa-star-o{
	color: #cfcfcf;
	&.fill, &:hover{
		color: $color-1;
	}
}
.fa-paper-plane{
	font-size: 13px;
}
.fa-facebook{
	font-size: 14px;	
}
.fa-vk{
	font-size: 16px;
	padding-bottom: 2px;
}
.p-v-md{
	@media (min-width: 991px){
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.entry-header{
	p{
		line-height: 170%;
		font-size: em(18);
	}
	b{
		font-weight: 900;
	}

	@media (min-width: 992px) {
		h1{
			position: relative;
		}
	}
}
.h1-style-1{
	h1:not(.no-style){
		&:after{
			@extend .clafclear;
			
			width: 85px;
			height: 2px;
			background-color: $color-1;
			bottom: 0;
			left: 0;
			@media (max-width: 991px){
				display: none;
			}
		}
		@media (min-width: 992px){
			padding-bottom: 20px;
		}
	}
	&.text-center{
		h1:not(.no-style):after{
			left: 50% !important;
			transform: translateX(-50%);
		}
	}
	@media (max-width: 991px) {
		h1{
			&:before{
				display: none;
			}
		}
	}
}
.h2-style-1{
	h2:not(.no-style){
		&:before{
			@extend .clafclear;
			width: 85px;
			height: 2px;
			background-color: $color-1;
			bottom: 0;
			@media (min-width: 992px){
				
			}
			@media (max-width: 991px){
				display: none;
			}
		}
		@media (min-width: 992px){
			padding-bottom: 20px;
		}
	}
	@media (max-width: 991px) {
		h2{
			&:before{
				display: none;
			}
		}
	}
}
.bg-shadow{
	pointer-events: none;
}


figcaption{
	font-weight: 600;
	margin-top: 10px;
	font-size: em(14);
	line-height: 135%;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.bg-statueol{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/bg-statue.jpg');
	background-color: white;
	background-repeat: no-repeat;
	top: -20px;
	//display: none;
	z-index: -1;
	pointer-events: none;
	//animation: bodyanime 900s linear infinite;
	background-position: center -100px;
}
.bg-short-productions{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/bg-short-productions.jpg');
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
	//display: none;
	z-index: -1;
	pointer-events: none;
	//animation: bodyanime 900s linear infinite;
}
.bg-about{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/bg-about.jpg');
	background-color: white;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	//display: none;
	z-index: -1;
	pointer-events: none;
	//animation: bodyanime 900s linear infinite;
}

.bg-body{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../img/bg/bg-body.jpg');
	background-color: white;
	background-repeat: repeat-y;
	//display: none;
	z-index: -1;
	pointer-events: none;
	//animation: bodyanime 900s linear infinite;
	background-position: center -100px;
}

.bg-dotswave{
	background-image: url('../img/bg/bg-dotswave.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

.overflow-wrapper{
	overflow: hidden;
	overflow-y: auto;
	position: relative;
}



//--bnr-slider
.screen-wrapper{
	height: 1080px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../img/bg/bg-bnr.jpg');
	align-items: center;
	display: flex;
}
.bnr-slider{
	position: relative;
	overflow: hidden;
}



.bnr-carousel{
	$slider-height: 70vh;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	.flickity-viewport{
		box-shadow: 0 0 15px -2px rgba(black, 0.5);
	}
	figure{
		overflow: hidden;
		height: $slider-height;
		transition: all 1.8s ease;
		left: 0 !important;
		opacity: 0;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    transform: scale(1.2);
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		&.is-selected{
			z-index: 1;
			opacity: 1;
			.img{
				filter: blur(0);
				transform: scale(1);
			}
		}
	}

	.flickity-slider{
		transform: inherit !important;
	}

	//Навигация
	.flickity-page-dots, .flickity-dots-1 .flickity-page-dots{
		//@extend .container;
		//@extend .trans-h-center;
		//left: auto !important;
		width: auto;
		top: 0;
		left: auto;
		right: 0;
		bottom: auto;
		text-align: center;
		display: flex;
		align-items: center;
		padding: 0 15px;
		margin-bottom: 15px;
		margin-top: 15px;
		text-align: right;
		pointer-events: none;
		*{
			pointer-events: auto;
		}
		li{
			pointer-events: auto;
			background-color: transparent;
			width: 18px;
			height: 18px;
			border: 2px solid $color-1;
			margin-top:  5px;
			margin-bottom: 5px;
    	&.is-selected{
    		background-color: $color-1;
    	}
		}
	}

}






.fullscreen-container {
	width:100%;
	position:relative;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	padding:0;
	height: 100vh;
	.slotholder{
		position: absolute;
	}
	.container-fluid-page{
		height: 100%;
		display: flex;
		align-items: center;
	}
	.tp-caption{
		position: relative !important;
	}
	.col-md-5, .col-md-4{
		position: relative !important;
	}
	*{
		white-space: normal;
	}
	.entry-header{
		//top: 20vh !important;
		h1{
			color: $color-1;

		}
	}


}
 
.banner{
	width:100%;
	position:relative;
}


































menu ul li {
	margin:20px auto;
	text-transform:uppercase;
	font-size:2.4rem;
	opacity:0;
	cursor:pointer;
}
menu ul li:nth-child(1) {
	color:red;
}
menu ul li:hover {
	color:red;
}
menu {
	width:300px;
	margin:60px auto;
	position:relative;
	text-align:center;
	font-family: 'Major Mono Display', monospace;
}
menu, menu a {
	color:#fff;
}
.menudrop {
	position:fixed;
	top:-100%;
	width:0;
	height:100vh;
	z-index: 2;
	background-color:rgb(12, 12, 13);
	overflow-y:scroll;
	z-index: 110;
	padding-bottom:30px;
	.bar{
		height: 60px;
		position: absolute;
		right: 30px;
		top: 30px;
	}
}
.hamburger {
	position: fixed;
	padding:10px;
	top:10px;
	right:2%;
	width:65px;
	height:50px;
	z-index:10;
	cursor:pointer;
}
.hamburger:hover {
	width:80px;
}
.hamburger span {
	width:100%;
	height:3px;
	background-color:#fff;
	display:block;
	margin:10px auto;
}

.hamburger {
	transition:0.3s;
}
.hamburger {
	animation:moveme 0.3s 2 alternate backwards;
}
@keyframes moveme {
    from {width: 65px;}
    to {width: 75px;}
}

@media only screen and (min-width: 576px) {
	menu ul li {
		font-size:3.2rem;
	}
}