/* 
		_footer.scss
*/

/*
										---FOOTER---
*/



#footer{
	position: fixed;
	//min-height: 150px;
	bottom: 20px;
	line-height: 170%;
	font-weight: 500;
	color: white;
	background-color: transparent;
	width: 100%;
	z-index: 1;
	font-size: 0.9em;
	pointer-events: none;
	&.relative{
		position: relative;
		bottom: 0;
		background-color: $color-3;
		.footer-content{
			height: 80px;
			@media (max-width: 991px){
				height: auto;
				flex-direction: column;
				padding-top: 15px;
				padding-bottom: 10px;
				[class*="col-md-"]{
					margin-bottom: 15px;
				}
			}
		}
	}
	p, ul{
		*{
			pointer-events: auto;
		}
	}
}
.footer-lang{
	text-transform: uppercase;
}
.footer-socicons{
	ul{
		@extend .letter-none;
	}
	li{
		vertical-align: middle;
		display: inline-block;
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 35px;
			height: 35px;
			transition: all 0.3s ease;
			background-color: rgba(white, 0.2);
		}
		i{
			font-size: em(17);
		}
		.fa-facebook-square{
			font-size: em(20);
		}
		&:hover{
			a{
				transform: translateY(-3px);
				background-color: $color-1;
				@extend .bgshadow-1;
				color: $color-2;
			}
		}
	}
}
.footer-content{
	display: flex;
	align-items: center;
	height: 40px;
}
.dev{
	em{
		font-family: monospace;
    margin-right: -5px;
	}
}

