/*
		_other.scss
*/

/*
										---OTHER---
*/











// ---FANCYBOX---
[data-fancybox]{
	display: block;
	position: relative;
	z-index: 1;
	&:focus{
		outline: 0;
	}
}
.fancybox-slide{
	padding: 0 15px;
}
.fancybox-infobar__body, .fancybox-button{
	background-color: rgba($color-1, 0.6);
}
.fancybox-button:hover:not([disabled]){
	background-color: rgba($color-2, 0.8);
}
.fancybox-bg{
	background-color: rgba(black, 0.8);
	// &:before{
	// 	@extend .claf;
	// 	border: 0px outset rgba($color-2, 1);
	// 	background-color: rgba($color-2, 0.6);
	// 	transform: translate(-100%, -100%);
	// }
	// &:after{
	// 	@extend .claf;
	// 	border: 0px outset rgba($color-2, 1);
	// 	background-color: rgba($color-2, 0.6);
	// 	transform: translate(100%, 100%);
	// }

}
.fancybox-is-open{
	.fancybox-bg{
		opacity: 1;
		background-color: rgba(black, 0.8);
		&:before, &:after{
			transition: all 0.8s ease;
		}
		// &:before{
		// 	@extend .claf;
		// 	border: 300px outset rgba($color-2, 1);
		// 	background-color: rgba($color-2, 0.6);
		// 	transform: translate(-25%, -25%);
		// }
		// &:after{
		// 	@extend .claf;
		// 	border: 300px outset rgba($color-2, 1);
		// 	background-color: rgba($color-2, 0.6);
		// 	transform: translate(25%, 25%);
		// }

	}
}

.fancybox-close-small{	
	&:focus, &:active{
		border: none;
		&:after{
			outline: none;
			border: none;
		}
	}
	&:after{
		font-size: 44px;
		border-radius: 0;
		background-color: transparent;
		color: white;
		//transform: scale(2);
	}
	&:hover{
		&:after{
			color: white;
			background-color: transparent;
		}
	}
}

//thumbs снизу
html{

	.fancybox-show-thumbs .fancybox-thumbs{
		text-align: center;
		display: block;
		background-color: transparent;
		position: absolute;
		width: 100%;
		height: 80px;
		top: auto;
		bottom: 15px;
	}
}
.fancybox-show-thumbs .fancybox-inner{
	right: 0;
}
.fancybox-thumbs > ul > li{
	float: none;
	display: inline-block;
}




// ---FLICKITY---
.carousel-prev-next{
	color: inherit;
	z-index:2;	
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  *{
  	pointer-events: auto;
  }
	.next, .prev{
		font-size: 20px;
		width: 40px;
		border: 0;
		background-color: transparent;
		position: absolute;
		top: 50%;
		//margin-top: -2.25px;
		color: black;
		fill: black;
		&:hover{
			cursor: pointer;
			color: $color-1;
		}
	}
	.next{
		right: 15px;
		text-align: right;
		&.reverse{
			transform: scaleX(-1) translateY(-50%);
		}
	}
	.prev{
		left: 15px;
		&.reverse{
			transform: scaleX(-1) translateY(-50%);
		}
	}
}
.flickity-btn-1{

	.flickity-prev-next-button{
		@extend .owl-btn;
		border-radius: 0;
		svg{
			top: auto;
			left: auto;
			right: auto;
			width: 15px !important;
			position: relative;
			height: 15px !important;
		}
		&:hover{
			@extend .bgshadow-1;
		}
		.arrow{
			fill: white;
		}
		
	}
	&.flickity-btn-hidden{
		.flickity-prev-next-button{
			opacity: 0.3;
		}
		&:hover{
			.flickity-prev-next-button{
				opacity: 1;
			}
		}
	}
}

.flickity-page-dots{
	margin: 30px 0;
	z-index: 1;
	//margin-bottom: 50px;
	.dot{
		//border: 1px solid white;
		transition: all 0.3s ease;
		background-color: rgba(white, 1);
		opacity: 1;
		border-radius: 50%;
  	width: 10px;
  	height: 10px;
		&.is-selected{
			transform: scale(1);
			background-color: $color-1;
		}
	}
}
.carousel-dots{
	.owl-dot, .dot{
		margin-left: 6px;
		margin-right: 6px;
		height: 10px;
		width: 10px;
		display: inline-block;
		border-radius: 50%;
		position: relative;
		&.is-selected, &.active{
			z-index: 2;
			position: relative;
			background-color: white;
		}
	}

}
.flickity-dots-1{
	.flickity-page-dots{
		margin-top: 0;
		margin-bottom: 70px;
		position: relative;
	}
	@extend .carousel-dots;
	.dot{
		border: 1px solid $color-1;
	}

}
.fancybox-caption{
	@extend .container;
	font-family: $font-family-1;
}
.prev-next-dots{
	.carousel-prev-next{
		position: relative;
		.next{
		}
		.prev, .next{
			left: inherit; left: unset;
			right: inherit; right: unset;
			top: 50%;
    	margin-top: -22.5+1px;
		}
		.prev{
			transform: translateX(-100%);
			&.reverse{
				transform: translateX(-100%) scaleX(-1);
			}
		}

	}
}




.carousel-article{
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
	.carousel {
	  margin-bottom: 20px;
	}
	.carousel-cell {
	  width: 100%;
	  height: auto;
	  margin-right: 25px;
	}
	img{
		width: 100%;
	}
	.carousel-main{
		.flickity-viewport{
			border: 1px solid rgba($color-gray-1, 0.2);
			//border-radius: 15px;
			overflow: hidden;
		}
	}
	.carousel-nav{
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 2px 5px;
		.carousel-cell{
	  	width: 30%;
			height: auto;
	  	//margin-right: 10px;
	  	border: 2px solid transparent;
	  	transition: all 0.3s ease-out ;
	  	.img-content{
	  		transition: all 0.3s ease-out;
	  		//transform: scale(0.8);
	  	}
	  	&.is-nav-selected{
	  	 //border-color: $color-1;
	  	}
		}
		.is-selected{
			border-color: rgba($color-3, 1);
			.img-content{
				transform: inherit;
			}
		}
	}
	.flickity-prev-next-button.previous{ left: -10px; }
	.flickity-prev-next-button.next{ right: -10px; }
	.flickity-page-dots{
		margin-bottom: -140px;
	
	}
}





.carousel-stand{
	.carousel {
	  background: #FAFAFA;
	  margin-bottom: 40px;
	}
	.carousel-cell {
	  width: 100%;
	  height: 200px;
	  //margin-right: 10px;
	  background: #8C8;
	  border-radius: 5px;
	  counter-increment: carousel-cell;
	  &:before{
		 	display: block;
		  text-align: center;
		  content: counter(carousel-cell);
		  line-height: 200px;
		  font-size: 80px;
		  color: white;
	  }
	}
	.carousel-nav{

		.carousel-cell{
			height: 80px;
	  	width: 100px;
	  	&:before{
				font-size: 50px;
				line-height: 80px;
	  	}
	  	&.is-nav-selected{
	  	 background: #ED2;
	  	}
		}
	}
}









// ---MASONRY---
.grid-img {
  //background: #DDD;
}

/* clear fix */
.grid-img:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-img-item {
  width: #{(100/3) + "%"};
  float:left;
  img{
  	width: 100%;
  }
}
.grid-img-sizer{
	width: #{(100/3) + "%"};
}
.grid-img-item {
  //float: left;
}

.grid-img-item img {
  display: block;
  padding: 3px;
  max-width: 100%;
}



// ---ELEVATEZOOM---
/*
.zoomWindowContainer{
	//width: 600px;
	left: -180%;
	top: -45%;
	position: relative;
}
 */
.zoomContainer{
	z-index: 1;
}
.zoomWindowContainer{
	//width: 800px;
	*{
		border: 5px solid rgba($color-4, 0.5) !important;
		border-radius: 3px;
	}
	left: 15px;
  position: relative;
}





.select2-container--default{
	.select2-selection--single{
		//border-radius: 15px;
		border: 1px solid $color-gray-1;
		background-color: transparent;
		height: 36px;		
		border-radius: 0;
		.select2-selection__rendered{
			line-height: 36px;
		}
		&:focus{
			outline: none;
		}
		.select2-selection__rendered{
			color: $color-gray-3;
		}
		.select2-selection__arrow {
			background-color: $color-gray-2;
			border-radius: 0;
			width: 26px;
			b{
				border-color: $color-3 transparent transparent transparent;
			}
		}
	}
	&.select2-container--open{
		.select2-selection--single{
			.select2-selection__arrow {
				b{
					border-color: transparent transparent $color-3 transparent;
				}
			}
		}
	}
	.select2-results__option--highlighted[aria-selected]{
		background-color: white;
		color: $color-2;
	}
	.select2-results__option[aria-selected=true]{
		background-color: inherit;
	}
}
.select2-opacity{
	.select2-container--default{
		.select2-selection--single{
			border: 1px solid $color-1;
			background-color: transparent !important;
			.select2-selection__rendered{
				color: $color-1;
			}
		}
	}
}
.select2-dropdown{
	border-radius: 0;
	border-color: $color-gray-1;
}




//owl
div.owl-nav{
	@media (max-width: 991px) {
		text-align: center;
	}
	.owl-prev, .owl-next{
		display: inline-block;
	}
}
.owl-dots{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: -5px;
	margin-right: -5px;
	position: relative;
	@extend .carousel-dots;
	.owl-dot{
		background-color: rgba($color-1, 0.5);
		&.active{
			background-color: $color-1;
		}
	}
}
.owl-prev{
	margin-right: 5px;
}
.owl-nav{
	text-align: right;
}
.owl-nav-style-1{
	.owl-nav{
		position: relative;
		display: flex;
		justify-content: flex-start;
		padding-top: 25px;
		padding-bottom: 25px;
		.owl-prev, .owl-next{
			
			path{
				fill: white ;
			}
			&:hover{
				@extend .bgshadow-1;
			}
		}
		.owl-prev{
			margin-right: 0;
		}
		.owl-dots{
			padding: 5px 15px;
		}
	}
}
.owl-nav-style-2{
	@extend .owl-nav-style-1;
	.owl-nav{
		position: absolute;
		@extend .trans-v-center;
		justify-content: space-between;
		pointer-events: none;
		*{
			pointer-events: auto;
		}
	}
}
.dots-center{
	.owl-dots{
		text-align: center;
	}
}
.owl-nav{
	position: absolute;
	width: 100%;
	[class*="owl-"].disabled{
		.owl-btn{
			//background-color: $color-gray-1;
			opacity: 0.3;
		}
	}
	.owl-prev{
		top: 0;
		.owl-btn{
			left: 0;
		}
	}
	.owl-next{
		.owl-btn{
			right: 0;
			transform: rotate(180deg);
		}
	}
	@media (min-width: 992px) {

	}
	@media (max-width: 991px) {
		position: relative;
		padding: 30px 0;
	}
}
.owl-prev, .owl-next{
	//top: 50%;
	//position: absolute;
}
.owl-btn{
	background-color: transparent;
	width: 40px;
	height: 40px;
	z-index:2;
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline: 1px solid $color-1;
	@extend [role="button"];
	svg{
		width: 20px;
		display: block;
		height: 20px;
		//display: inline-block;
	}
	.arrow{
    transform-origin: 0 0;
	}
}




// PRELODER
.preloader{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  //background: $color-2;
  opacity: 1;
  margin: auto;
  //transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
	&:not([data-anistyle]){
		&.loaded{
			opacity: 0;
		}
		transition: all 0.8s ease 0s;
		.layers{
			clip-path: none !important;
		}
	}
  img{
  	//width: 100%;
  	width: 267px;
    min-width: 267px;
    margin-bottom: 15px;
  	//opacity: 0;
  	transition: all 0.3s ease-in-out;
  	&:nth-child(2){
  		opacity: 0.1;
  		filter: blur(2px);
  		transform: matrix(1, 0, 0, -1, 0, 0) scaleY(1);
  	}
  }
	// &.in{
	// 	pointer-events: none;
	// 	opacity: 0;
	// }

	.loader{
		//transform: scale(0.5);
		z-index: 1;
		text-align: center;
		color: white;
		transition: all 0.8s ease 0s;
		span{
			text-align: center;
			display: block;
		}
		.img-content{
			position: relative;
			width: 400px;
			//padding-bottom: 35px;
			//display: none;
		}
		.textfiller{
			margin-top: 30px;
			text-align: center;
			font-size: em(16);
			position: relative;
			display: inline-block;
			font-family: $font-family-1;
			color: $color-1;
			font-style: italic;
			.text-shadow{
				display: inline-block;
				transition: all 1s ease;
				position: absolute;
				background-color: rgba($color-2, 0.5);
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
			}
		}
		.percent{
			font-size: 15px;
			margin-top: 15px;
			display: none;
			padding-left: 10px;
			font-weight: 700;
		}
	}

}





.svg-animate{
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	.stroke-logo{
		top: 5vh;
		left: -28px;
		//    stroke-dasharray: 9110;
		stroke-dasharray: 9110;
		stroke-dashoffset: 9110;
    stroke-linecap: round;
    stroke-linejoin: round;
		width: 800px;
		height: 800px;
		position: relative;
	}
	.svg-image{
    stroke: lighten($color-2, 15%);
    //stroke: white;
		transition: all 1.75s ease-in-out, stroke-width 2s ease-in-out;
		stroke-opacity: 0.2;
		//display: none;
		fill: none;
		stroke-width: 20px;
		//animation: swidth 2s ease infinite;
	}
}
@keyframes swidth{
	to, from{
		stroke-dasharray: 18220;
	}
	50%{
		stroke-dasharray: 9110;
	}
}
@keyframes anistyle-1{
	to, from{
		clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%, 50% 100%, 50% 0);
	}
	30%, 60%{
		clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
	}
}

@keyframes anistyle-2{
	from{
		clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%);
	}
	30%, 60%{
		clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
	}
	80%{
		clip-path: polygon(0 0, 0 60%, 100% 60%, 100% 0);
	}
	to{
		clip-path: polygon(0 0, 0 0, 100% 0, 100% 0);
		
	}
}
//polygon(0% 0%, 0 100%, 100% 0, 101% 0, 1% 100%, 100% 100%, 100% 0)
@keyframes anistyle-3{
	from{
		clip-path: polygon(100% 100%, 0 100%, 100% 100%, 100% 0);
	}
	10%{
		clip-path: polygon(100% 100%, 0 100%, 100% 0, 100% 0);
	}
	30%, 60%{
		clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
	}
	85%{
		clip-path: polygon(100% 100%, 100% 100%, 0 0, 100% 0);
	}
	to{
		clip-path: polygon(100% 100%, 100% 0, 0 0, 100% 0);
	}

}
@keyframes anistyle-4{
	from{
		clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 8%, 100% 7%, 100% 93%, 0 94%, 0 100%, 100% 100%, 100% 0%);
	}
	30%, 60%{
		//clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 51%, 0 51%, 0 100%, 100% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 50%, 0 50%, 0 100%, 100% 100%, 100% 0%);
	}
	// 40%, 50%{
	// 	//clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 45%, 100% 50%, 100% 45%, 0 50%, 0 100%, 100% 100%, 100% 0%);
	// 	clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 99.9%, 100% 0, 100% 0.1%, 0% 100%, 0 100%, 100% 100%, 100% 0%);
	// }
	to{
		//clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 8%, 100% 7%, 100% 93%, 0 94%, 0 100%, 100% 100%, 100% 0%);
		clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
	}
}
@keyframes anistyle-5{
	from{
		clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}
	40%, 60%{
		//clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 50%, 100% 50%, 100% 51%, 0 51%, 0 100%, 100% 100%, 100% 0%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
	65%{
		clip-path: polygon(0 0, 88% 0, 89% 100%, 0 100%);
	}
	to{
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	}
}


#prebox{
	.loader{
		//display: none;
	}
	&:not(.loadedstep).loaded{
		pointer-events: none;
		.layers{
			clip-path: polygon(0 0, 100% 100%, 100% 100%, 100% 100%, 0 0, 0 0);
		}
		.loader{
			//transform: scale(0);
		}
	}
	&.loadedstep{
		.svg-image{
			animation: swidth 2s ease infinite;
		}
	}
	&[data-anistyle="1"]{
		.layers{
			animation: anistyle-1 2s ease 1 0s;
		}
	}
	&[data-anistyle="2"]{
		.layers{
			animation: anistyle-2 2s linear 1;
		}
	}
	&[data-anistyle="3"]{
		.layers{
			animation: anistyle-3 2.3s linear 1;
		}
	}
	&[data-anistyle="4"]{
		.layers{
			animation: anistyle-4 2s linear 1;
		}
	}
	&[data-anistyle="5"]{
		.layers{
			animation: anistyle-5 2s linear 1;
		}
	}
	&[data-anistyle="6"]{
		.layers{
			animation: anistyle-2 2s linear 1;
		}
	}



}

.layers{
	position: absolute;
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
	//clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
	height: 100%;
	background-color: darken($color-2, 0%);
	transition: all 0s ease 2s;
	//clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
	//clip-path: polygon(0 0, 100% 100%, 100% 100%, 100% 100%, 0 0, 0 0);
	//pointer-events: ;
}


































/* Player */
/* Accessibility: hide screen reader texts (and prefer "top" for RTL languages).
Reference: http://blog.rrwd.nl/2015/04/04/the-screen-reader-text-class-why-and-how/ */
.mejs__offscreen {
    border: 0;
    clip: rect( 1px, 1px, 1px, 1px );
    -webkit-clip-path: inset( 50% );
            clip-path: inset( 50% );
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

.mejs__container {
    background: #000;
    box-sizing: border-box;
    font-family: 'Helvetica', Arial, serif;
    position: relative;
    text-align: left;
    text-indent: 0;
    vertical-align: top;
}

.mejs__container * {
    box-sizing: border-box;
}

/* Hide native play button and control bar from iOS to favor plugin button */
.mejs__container video::-webkit-media-controls,
.mejs__container video::-webkit-media-controls-panel,
.mejs__container video::-webkit-media-controls-panel-container,
.mejs__container video::-webkit-media-controls-start-playback-button {
    -webkit-appearance: none;
    display: none !important;
}

.mejs__fill-container,
.mejs__fill-container .mejs__container {
    height: 100%;
    width: 100%;
}

.mejs__fill-container {
    background: transparent;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.mejs__container:focus {
    outline: none;
}

.mejs__iframe-overlay {
    height: 100%;
    position: absolute;
    width: 100%;
}

.mejs__embed,
.mejs__embed body {
    background: #000;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.mejs__fullscreen {
    overflow: hidden !important;
}

.mejs__container-fullscreen {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

.mejs__container-fullscreen .mejs__mediaelement,
.mejs__container-fullscreen video {
    height: 100% !important;
    width: 100% !important;
}

/* Start: LAYERS */
.mejs__background {
    left: 0;
    position: absolute;
    top: 0;
}

.mejs__mediaelement {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.mejs__poster {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

:root .mejs__poster-img {
    display: none;
}

.mejs__poster-img {
    border: 0;
    padding: 0;
}

.mejs__overlay {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
}

.mejs__layer {
    z-index: 1;
}

.mejs__overlay-play {
    cursor: pointer;
}

.mejs__overlay-button {
    background: url("../img/mejs-controls.svg") no-repeat;
    background-position: 0 -39px;
    height: 80px;
    width: 80px;
}

.mejs__overlay:hover > .mejs__overlay-button {
    //background-position: -80px -39px;
    filter: brightness(90%);
}

.mejs__overlay-loading {
    height: 80px;
    width: 80px;
}

.mejs__overlay-loading-bg-img {
    background-image: url("https://samherbert.net/svg-loaders/svg-loaders/tail-spin.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 80px;
    width: 80px;
    z-index: 1;
}

@-webkit-keyframes mejs__loading-spinner {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes mejs__loading-spinner {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/* End: LAYERS */

/* Start: CONTROL BAR */
.mejs__controls {
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.mejs__controls:not([style*='display: none']) {
    background: rgba(255, 0, 0, 0.7);
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.35));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.35));
}

.mejs__button,
.mejs__time,
.mejs__time-rail {
    font-size: 10px;
    height: 40px;
    line-height: 10px;
    margin: 0;
    width: 32px;
}

.mejs__button > button {
    background: transparent url("../img/mejs-controls.svg");
    border: 0;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    margin: 10px 6px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-decoration: none;
    width: 20px;
}

/* :focus for accessibility */
.mejs__button > button:focus {
    outline: dotted 1px #999;
}

.mejs__container-keyboard-inactive a,
.mejs__container-keyboard-inactive a:focus,
.mejs__container-keyboard-inactive button,
.mejs__container-keyboard-inactive button:focus,
.mejs__container-keyboard-inactive [role=slider],
.mejs__container-keyboard-inactive [role=slider]:focus {
    outline: 0;
}

/* End: CONTROL BAR */

/* Start: Time (Current / Duration) */
.mejs__time {
    box-sizing: content-box;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    overflow: hidden;
    padding: 16px 6px 0;
    text-align: center;
    width: auto;
}

/* End: Time (Current / Duration) */

/* Start: Play/Pause/Stop */
.mejs__play > button {
    background-position: 0 0;
}

.mejs__pause > button {
    background-position: -20px 0;
}

.mejs__replay > button {
    background-position: -160px 0;
}

/* End: Play/Pause/Stop */

/* Start: Progress Bar */
.mejs__time-rail {
    direction: ltr;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 40px;
    margin: 0 10px;
    padding-top: 10px;
    position: relative;
}

.mejs__time-total,
.mejs__time-buffering,
.mejs__time-loaded,
.mejs__time-current,
.mejs__time-float,
.mejs__time-hovered,
.mejs__time-float-current,
.mejs__time-float-corner,
.mejs__time-marker {
    border-radius: 2px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
}

.mejs__time-total {
    background: rgba(255, 255, 255, 0.3);
    margin: 5px 0 0;
    width: 100%;
}

.mejs__time-buffering {
    -webkit-animation: buffering-stripes 2s linear infinite;
            animation: buffering-stripes 2s linear infinite;
    background: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-size: 15px 15px;
    width: 100%;
}

@-webkit-keyframes buffering-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30px 0;
    }
}

@keyframes buffering-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 30px 0;
    }
}

.mejs__time-loaded {
    background: rgba(255, 255, 255, 0.3);
}

.mejs__time-current,
.mejs__time-handle-content {
    background: rgba(255, 255, 255, 0.9);
}

.mejs__time-hovered {
    background: rgba(255, 255, 255, 0.5);
    z-index: 10;
}

.mejs__time-hovered.negative {
    background: rgba(0, 0, 0, 0.2);
}

.mejs__time-current,
.mejs__time-buffering,
.mejs__time-loaded,
.mejs__time-hovered {
    left: 0;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition: 0.15s ease-in all;
    transition: 0.15s ease-in all;
    width: 100%;
}

.mejs__time-buffering {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}

.mejs__time-hovered {
    -webkit-transition: height 0.1s cubic-bezier(0.44, 0, 1, 1);
    transition: height 0.1s cubic-bezier(0.44, 0, 1, 1);
}

.mejs__time-hovered.no-hover {
    -webkit-transform: scaleX(0) !important;
        -ms-transform: scaleX(0) !important;
            transform: scaleX(0) !important;
}

.mejs__time-handle,
.mejs__time-handle-content {
    border: 4px solid transparent;
    cursor: pointer;
    left: 0;
    position: absolute;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    z-index: 11;
}

.mejs__time-handle-content {
    border: 4px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    height: 10px;
    left: -7px;
    top: -4px;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    width: 10px;
}

.mejs__time-rail:hover .mejs__time-handle-content,
.mejs__time-rail .mejs__time-handle-content:focus,
.mejs__time-rail .mejs__time-handle-content:active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.mejs__time-float {
    background: #eee;
    border: solid 1px #333;
    bottom: 100%;
    color: #111;
    display: none;
    height: 17px;
    margin-bottom: 9px;
    position: absolute;
    text-align: center;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 36px;
}

.mejs__time-float-current {
    display: block;
    left: 0;
    margin: 2px;
    text-align: center;
    width: 30px;
}

.mejs__time-float-corner {
    border: solid 5px #eee;
    border-color: #eee transparent transparent;
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    line-height: 0;
    position: absolute;
    top: 100%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
}

.mejs__long-video .mejs__time-float {
    margin-left: -23px;
    width: 64px;
}

.mejs__long-video .mejs__time-float-current {
    width: 60px;
}

.mejs__broadcast {
    color: #fff;
    height: 10px;
    position: absolute;
    top: 15px;
    width: 100%;
}

/* End: Progress Bar */

/* Start: Fullscreen */
.mejs__fullscreen-button > button {
    background-position: -80px 0;
}

.mejs__unfullscreen > button {
    background-position: -100px 0;
}

/* End: Fullscreen */

/* Start: Mute/Volume */
.mejs__mute > button {
    background-position: -60px 0;
}

.mejs__unmute > button {
    background-position: -40px 0;
}

.mejs__volume-button {
    position: relative;
}

.mejs__volume-button > .mejs__volume-slider {
    background: rgba(50, 50, 50, 0.7);
    border-radius: 0;
    bottom: 100%;
    display: none;
    height: 115px;
    left: 50%;
    margin: 0;
    position: absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 25px;
    z-index: 1;
}

.mejs__volume-button:hover {
    border-radius: 0 0 4px 4px;
}

.mejs__volume-total {
    background: rgba(255, 255, 255, 0.5);
    height: 100px;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 8px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 2px;
}

.mejs__volume-current {
    background: rgba(255, 255, 255, 0.9);
    left: 0;
    margin: 0;
    position: absolute;
    width: 100%;
}

.mejs__volume-handle {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1px;
    cursor: ns-resize;
    height: 6px;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 16px;
}

.mejs__horizontal-volume-slider {
    display: block;
    height: 36px;
    position: relative;
    vertical-align: middle;
    width: 56px;
}

.mejs__horizontal-volume-total {
    background: rgba(50, 50, 50, 0.8);
    border-radius: 2px;
    font-size: 1px;
    height: 8px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 16px;
    width: 50px;
}

.mejs__horizontal-volume-current {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    font-size: 1px;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.mejs__horizontal-volume-handle {
    display: none;
}

/* End: Mute/Volume */

/* Start: Track (Captions and Chapters) */
.mejs__captions-button,
.mejs__chapters-button {
    position: relative;
}

.mejs__captions-button > button {
    background-position: -140px 0;
}

.mejs__chapters-button > button {
    background-position: -180px 0;
}

.mejs__captions-button > .mejs__captions-selector,
.mejs__chapters-button > .mejs__chapters-selector {
    background: rgba(50, 50, 50, 0.7);
    border: solid 1px transparent;
    border-radius: 0;
    bottom: 100%;
    margin-right: -43px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 50%;
    visibility: visible;
    width: 86px;
}

.mejs__chapters-button > .mejs__chapters-selector {
    margin-right: -55px;
    width: 110px;
}

.mejs__captions-selector-list,
.mejs__chapters-selector-list {
    list-style-type: none !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.mejs__captions-selector-list-item,
.mejs__chapters-selector-list-item {
    color: #fff;
    cursor: pointer;
    display: block;
    list-style-type: none !important;
    margin: 0 0 6px;
    overflow: hidden;
    padding: 0 10px;
}

.mejs__captions-selector-list-item:hover,
.mejs__chapters-selector-list-item:hover {
    background-color: rgb(200, 200, 200) !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.mejs__captions-selector-input,
.mejs__chapters-selector-input {
    clear: both;
    float: left;
    left: -1000px;
    margin: 3px 3px 0 5px;
    position: absolute;
}

.mejs__captions-selector-label,
.mejs__chapters-selector-label {
    cursor: pointer;
    float: left;
    font-size: 10px;
    line-height: 15px;
    padding: 4px 0 0;
}

.mejs__captions-selected,
.mejs__chapters-selected {
    color: rgba(33, 248, 248, 1);
}

.mejs__captions-translations {
    font-size: 10px;
    margin: 0 0 5px;
}

.mejs__captions-layer {
    bottom: 0;
    color: #fff;
    font-size: 16px;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
}

.mejs__captions-layer a {
    color: #fff;
    text-decoration: underline;
}

.mejs__captions-layer[lang=ar] {
    font-size: 20px;
    font-weight: normal;
}

.mejs__captions-position {
    bottom: 15px;
    left: 0;
    position: absolute;
    width: 100%;
}

.mejs__captions-position-hover {
    bottom: 35px;
}

.mejs__captions-text,
.mejs__captions-text * {
    background: rgba(20, 20, 20, 0.5);
    box-shadow: 5px 0 0 rgba(20, 20, 20, 0.5), -5px 0 0 rgba(20, 20, 20, 0.5);
    padding: 0;
    white-space: pre-wrap;
}

.mejs__container.mejs__hide-cues video::-webkit-media-text-track-container {
    display: none;
}

/* End: Track (Captions and Chapters) */

/* Start: Error */
.mejs__cannotplay,
.mejs__cannotplay a {
    color: #fff;
    font-size: 0.8em;
}

.mejs__cannotplay p,
.mejs__cannotplay a {
    display: inline-block;
    padding: 0 15px;
    width: 100%;
}
/* End: Error */